body {
    width: 80%;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: rgb(158, 218, 238);
    margin: 20px auto 60px;
}

.bar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.bar li {
    display: inline;
}

.bar li a:hover {
    background-color: rgb(28, 164, 182);
}

.bar li a {
    color: white;
}

img {
    position: absolute;
    width: 300px;
    top: 20px;
    right: 20px;
}

@media screen and (max-width: 860px) {
    img {
        position: static;
        display: block;
        margin: auto;
        width: 300px;
    }
}

#about {
    background-color: rgb(28, 164, 182);
}

#name {
    font-family: cursive;
    color: rgb(255, 255, 255);
    padding: 90px 15px 20px;
}

h2 {
    text-align: center;
    padding-top: 40px;
    padding-bottom: 20px;
}

.company {
    color: rgb(14, 129, 145);
}

footer {
    text-align: center;
}


#contact li {
    list-style-type: none;
}

