body {
    width: 80%;
    background-color: rgb(158, 218, 238);
    margin: 20px auto 60px;
}

.bar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.bar li {
    display: inline;
}

.bar li a:hover {
    background-color: rgb(28, 164, 182);
}

.bar li a {
    color: white;
}

img {
    width: 300px;
    position: absolute;
    top: 20px;
    right: 20px;
}

#about {
    background-color: rgb(28, 164, 182);
    margin-bottom: 10px;
    padding-bottom: 50px;
    padding-top: 50px;
}

#name {
    font-family: cursive;
    text-align: left;
    color: rgb(255, 255, 255);
    padding-left: 10px;
}

h2 {
    width: 25%;
    margin: auto;
    text-align: center;
    padding: 20px 20px;
}

.company {
    color: rgb(14, 129, 145);
    font-weight: bold;
    font-size: 20px;
}

footer {
    text-align: center;
}

#contact li {
    list-style-type: none;
}

@media screen and (max-width: 717px) {
    img {
      position: relative;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
  }
